body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#help-section {
    position: fixed;
    right: 0px;
    bottom: 0px;
    .help-button {
        width: 60px;
        height: 60px;
        padding: 10px;
        font-size: 28px;
        background: #3a82bd;
        display:none;
        justify-content: center;
        align-items: center;
        line-height: 1;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        box-shadow:  0 0 10px rgba(0,0,0,0.6);
        color: #FFF;
        margin-bottom: 30px;
        margin-right: 30px;
        &.open {
            display: flex;
        }
    }
    @media(max-width: 767px){
        .help-button {
            width: 40px;
            height: 40px;
            font-size: 20px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }
    .detail-section {
        float: right;
        position: relative;
        display: none;
        max-width: 99.6%;
        &.open {
            display: block;
        }
        .nav-tabs {
            position: relative;
            z-index: 2;
            white-space: nowrap;
            margin: auto;
            border-bottom: 0;
            float: right;

            li {
                position: relative;
                display: inline-block;
                padding: 0 10px;
                color: inherit;
                text-decoration: none;
                margin: 0 2px 0 1px;
                a {
                    border: 0;
                    font-size: 12px;
                    color: #a8a8a8;
                    padding: 10px;
                    transform: translateZ(10px);
                    i {
                        margin-right: 5px;
                    }
                    &:hover {
                        background: transparent;
                    }
                }

                &::before {
                    border: .1em solid #afacac;
                    content: ''; /* To generate the box */
                	position: absolute;
                	top: 0; right: 0; bottom: .5em; left: 0;
                	z-index: -1;
                	border-bottom: none;
                	border-radius: 5px 5px 0 0;
                	background: #d5d5d5;
                	box-shadow: 0 0 hsla(0,0%,100%,.5) inset;
                	transform: perspective(5px) rotateX(2deg);
                }

                &.active {
                    a {
                        background-color: transparent;
                        color: #a1a1a1;
                    }
                    z-index: 3;
                    transform: translateZ(10px);
                    &::before {
    	                border-top-width: 1px;
                        background: #eeeeee;
                    }
                }

                &#close-nav {
                    z-index: -2;
                    margin-left: -12px;
                    margin-right: 0;
                    a {
                        color: #FFF;
                        padding: 9px 0px 12px 30px;
                        i {
                            margin: 0;
                        }
                    }
                    &::before {
                        background: #555555;
                        color: #FFF;
                        border-radius: 0;
                        transform: none;
                        border: 0;
                        margin-top: 2px;
                    }

                    &:hover {
                        &::before {
                            background: #555555;
                        }
                    }
                }

                &#chat-nav {
                    z-index: 2;
                }

                &#mail-nav {
                    margin-right: -15px;
                }

                &#faq-nav {
                    a {
                        padding: 10px 22px;
                    }
                }
            }
        }

        @media(max-width: 767px){
            .nav-tabs {
                li {
                    padding: 0;
                    &#faq-nav {
                        a {
                            padding: 10px 15px;
                        }
                    }
                    &#close-nav {
                        a {
                            padding: 9px 5px 12px 38px;
                        }
                    }
                }
            }
        }

        .tab-content {
            .tab-pane {
                border: 1px #afacac solid;
                padding: 10px;
                background: #eeeeee;
                margin-top: -8px;
                float: right;
                box-shadow: -3px -3px 10px -2px rgba(158,153,158,1);
                min-height: 315px;
                min-width: 600px;
                &.active {
                    display: inline-block;
                }
            }
            @media(max-width: 767px){
                .tab-pane {
                    min-width: 320px;
                    min-height: auto;
                    width: 100vw;
                }
            }
        }
    }

    #faq-section {
        padding: 0;

        #prefer-email-container {
            color: #a1a1a1;
            padding: 100px 0 85px;
            text-align: center;
            border-right: 1px #ccc solid;
            .heading {
                font-size: 26px;
                color: #494949;
            }

            .btn {
                margin: 20px 0;
                box-shadow: inset 0 -12px 20px -5px rgba(0,0,0,0.25);
                i {
                    margin-right: 5px;
                }
            }
        }

        @media(max-width: 767px){
            #prefer-email-container {
                border-right: 0;
                padding: 20px 0;
                border-bottom: 1px #ccc solid;
            }
        }

        #faq-list-section {
            padding: 40px 0 20px;
            .faq-items {
                .faq-item {
                    text-align: center;
                    padding: 20px;
                    border: 1px transparent solid;
                    color: #3a82bd;
                    border-radius: 5px;
                    i {
                        display: block;
                        font-size: 30px;
                        margin-bottom: 5px;
                    }

                    &:hover {
                        color: #295982;
                        border: 1px #CCC solid;
                        background: #FFF;
                    }
                }
            }
        }

        @media(max-width: 767px){
            #faq-list-section {
                padding: 20px 0;
                .faq-items {
                    .faq-item {
                        padding: 0 0 20px;
                        font-size: 11px;
                        i {
                            font-size: 20px;
                        }
                        &:hover {
                            background: transparent;
                            border-color: transparent;
                        }
                    }
                }
            }
        }

        .search-bar {
            position: relative;
            margin-bottom: 20px;
            input {
                padding-left: 40px;
                border-radius: 20px;
            }
            span {
                position: absolute;
                top: 10px;
                left: 15px;
                color: #a1a1a1;
            }
        }
    }

    #mail-section {
        padding: 20px;
        max-width: 600px;
        form {
            margin-top: 10px;
            .form-control[readonly] {
                background-color: #d5d5d5;
            }
            .email {
                position: relative;
                span {
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    font-weight: 400;
                    color: #000;
                }
                input {
                    padding-left: 32px;
                }
            }
        }
        .alert {
            display: none;
            &.open {
                display: block;
            }
            i { font-size: 18px; }
        }
        .file-attach {
            input {
                width: 0.1px;
            	height: 0.1px;
            	opacity: 0;
            	overflow: hidden;
            	position: absolute;
            	z-index: -1;
            }
            label {
                i {
                    transform: rotate(90deg);
                }
                font-weight: normal;
                color: #337ab7;
            }
        }
    }

    #chat-section {
        padding: 20px;
        max-width: 500px;
    }
}
